Authorization using Redirect URIs with fragments generates wrong URLs

**Which version of Duende IdentityServer are you using?**

6.1.4

**Which version of .NET are you using?**

.NET 6

**Describe the bug**

Using `authorization_code` grant type, Redirect URIs do not properly format when the URI has a fragment section and the Query response type is being used.

**To Reproduce**

1. Create a client that uses `authorization_code`
2. Add a redirect uri that looks like `https://example.com/#/callback`
3. Try to log in with a correct user
4. Check final Redirect URI

The URL in browser looks like `https://example.com/#/callback?code=...&scope=...&state=...&session_state=...&iss=...`  (removed values for brevety).

**Expected behavior**

The Redirect URI should look like `https://example.com/?code=...&scope=...&state=...&session_state=...&iss=...#/callback` (removed values for brevety).

**Additional context**

According to the [RFC3986 Section 4.2](https://www.rfc-editor.org/rfc/rfc3986#section-4.2), the URLs should have first the `?query` and then the `#fragment`. IdentityServer does not seem to respect this order when the Redirect URI has a fragment already.

(My guess) Looking a bit on the code, I found [this method](https://github.com/DuendeSoftware/IdentityServer/blob/8b6e5d39f0f2834d793d363328cacd49052dee27/src/IdentityServer/Extensions/StringsExtensions.cs#L202) which just appends the query string at the end of the URL. This method seems to be used when generating the response for the [Authorize Callback](https://github.com/DuendeSoftware/IdentityServer/blob/8b6e5d39f0f2834d793d363328cacd49052dee27/src/IdentityServer/Endpoints/Results/AuthorizeResult.cs#L145).

In our case, when we changed the OIDC Client we use to another one, it start failing because they use `URL` (JS side) to parse the full URL, and because of the query being after the fragment, it treated all as fragment. Then it failed trying to finish the `authorization_code` process. The fragment in our app is being used for routing.


> Redirect URIs with fragments 

This is not allowed per-spec: https://www.rfc-editor.org/rfc/rfc6749.html#section-3.1.2