AuthorizeRequestValidator returns unsupported_response_type when no response_type is supplied

**Which version of Duende IdentityServer are you using?**
Latest (6.3.5)

**Which version of .NET are you using?**
.NET 7

**Describe the bug**
If there is no `response_type` specified on the Authorize endpoint we return an `unsupported_response_type`.

[RFC 6749 section 4.2.1 ](https://www.rfc-editor.org/rfc/rfc6749#section-4.2.1) specifies that response_type is a required parameter:
> response_type REQUIRED.  Value MUST be set to "token".

[RFC 6749 section 4.1.2.1 ](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.2.1) also specifies:
>invalid_request:  The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than                once, or is otherwise malformed.
and
>unsupported_response_type The authorization server does not support obtaining an authorization code using this method.

Since `response_type` is a required parameter we are of the opinion that actual error, when this field is absent, should be `invalid_request` instead of `unsupported_response_type`.

**Expected behavior**
The `AuthorizeRequestValidator` should return a different `Invalid(...)` response specified on [this line](https://github.com/DuendeSoftware/IdentityServer/blob/efc300078042d3bd8cb17651428c7efe5e2eb2ea/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs#L395C14-L395C14).

**Additional context**
Simular issue to #44


Thank you for reporting and for your PR. We will track and comment this issue in the pull request so I am closing this issue.