Introspection doesn't work when API Resource Name is a URL type

**Which version of Duende IdentityServer are you using?**
6.2.3

**Which version of .NET are you using?**
.NET Core 6

**Describe the bug**
Unable to use reference tokens on APIs when using the 'resource' parameter on the /token endpoint

A clear and concise description of what the bug is.

The goal, use reference tokens on a client that needs access to an API, but that API requires resource isolation.

**To Reproduce**
Client:

- Access Token Type JWT
- allowed scope 'user.write'

API Resource

- Name: "api://api12"
- Require Resource Indicator: true
- Allowed Scopes - "user.write"
- Enabled: true
- secrets: create a secret of your choosing

Api Scopes

- Name: "user.write"
- Enabled: true

Steps to reproduce the behavior.

1. get a token using your favorite grant type. EX 
![image](https://user-images.githubusercontent.com/7902547/222935200-712f0896-f1fa-43ed-9dc9-1b00619121dc.png)

2. inspect token using jwt.io 
![image](https://user-images.githubusercontent.com/7902547/222935308-a0fe2f71-28b2-4f7d-9bd3-d9762e05cf92.png)

3. Audience & all scopes present and accounted for
4. Change your client to use reference tokens instead
5. get a token using same grant type
6. create introspection request using 'api://api12' and your secret from above, passing in the token= in the body as documented
7. debug log:
![image](https://user-images.githubusercontent.com/7902547/222935084-e7582d84-29bb-4b2b-9a87-671395b135d8.png)
8. Result is 401 unauthorized 
![image](https://user-images.githubusercontent.com/7902547/222935242-6ca7d66c-ffa2-49e7-ada1-92c8aa4ee54b.png)


**Expected behavior**
Token gets introspected and returned

A clear and concise description of what you expected to happen.

I expect the introspection to work even though the name of the API is a URL (which it appears to be required for that to work with resource isolation)  If you do not have it as a URL or format it likes, you are given errors on invalid resource format.

**Log output/exception with stacktrace**

```
Microsoft.AspNetCore.Hosting.Diagnostics: Information: Request starting HTTP/1.1 POST https://localhost:44363/connect/introspect application/x-www-form-urlencoded 72
Duende.IdentityServer.Hosting.EndpointRouter: Debug: Request path /connect/introspect matched to endpoint type Introspection
Microsoft.EntityFrameworkCore.Infrastructure: Information: Entity Framework Core 6.0.13 initialized 'IdentityServiceDbContext' using provider 'Microsoft.EntityFrameworkCore.SqlServer:6.0.13' with options: MigrationsAssembly=DevRite.IdentityService.Sso.Core 
Duende.IdentityServer.Hosting.EndpointRouter: Debug: Endpoint enabled: Introspection, successfully created handler: Duende.IdentityServer.Endpoints.IntrospectionEndpoint
Duende.IdentityServer.Hosting.IdentityServerMiddleware: Information: Invoking IdentityServer endpoint: Duende.IdentityServer.Endpoints.IntrospectionEndpoint for /connect/introspect
Duende.IdentityServer.Endpoints.IntrospectionEndpoint: Debug: Starting introspection request.
Duende.IdentityServer.Validation.BasicAuthenticationSecretParser: Debug: Start parsing Basic Authentication secret
Duende.IdentityServer.Validation.ISecretsListParser: Debug: Parser found secret: BasicAuthenticationSecretParser
Duende.IdentityServer.Validation.ISecretsListParser: Debug: Secret id found: api
Microsoft.EntityFrameworkCore.Infrastructure: Information: Entity Framework Core 6.0.13 initialized 'ConfigurationDbContext' using provider 'Microsoft.EntityFrameworkCore.SqlServer:6.0.13' with options: MigrationsAssembly=DevRite.IdentityService.Sso.Core 
Microsoft.EntityFrameworkCore.Database.Command: Information: Executed DbCommand (1ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
SELECT [a].[Id], [a].[AllowedAccessTokenSigningAlgorithms], [a].[Created], [a].[Description], [a].[DisplayName], [a].[Enabled], [a].[LastAccessed], [a].[Name], [a].[NonEditable], [a].[RequireResourceIndicator], [a].[ShowInDiscoveryDocument], [a].[Updated], [a0].[Id], [a0].[ApiResourceId], [a0].[Created], [a0].[Description], [a0].[Expiration], [a0].[Type], [a0].[Value], [a1].[Id], [a1].[ApiResourceId], [a1].[Scope], [a2].[Id], [a2].[ApiResourceId], [a2].[Type], [a3].[Id], [a3].[ApiResourceId], [a3].[Key], [a3].[Value]
FROM [IdentityService].[ApiResources] AS [a]
LEFT JOIN [IdentityService].[ApiResourceSecrets] AS [a0] ON [a].[Id] = [a0].[ApiResourceId]
LEFT JOIN [IdentityService].[ApiResourceScopes] AS [a1] ON [a].[Id] = [a1].[ApiResourceId]
LEFT JOIN [IdentityService].[ApiResourceClaims] AS [a2] ON [a].[Id] = [a2].[ApiResourceId]
LEFT JOIN [IdentityService].[ApiResourceProperties] AS [a3] ON [a].[Id] = [a3].[ApiResourceId]
WHERE [a].[Name] = N'api'
ORDER BY [a].[Id], [a0].[Id], [a1].[Id], [a2].[Id]
Duende.IdentityServer.EntityFramework.Stores.ResourceStore: Debug: Did not find api API resource in database
Duende.IdentityServer.Events.DefaultEventService: Information: {
  "ApiName": "api",
  "Category": "Authentication",
  "Name": "API Authentication Failure",
  "EventType": "Failure",
  "Id": 1021,
  "Message": "Unknown API resource",
  "ActivityId": "4000000b-0004-fa00-b63f-84710c7967bb",
  "TimeStamp": "2023-03-05T00:27:01.8450909Z",
  "ProcessId": 7324,
  "LocalIpAddress": "::1:44363",
  "RemoteIpAddress": "::1"
}
Duende.IdentityServer.Validation.ApiSecretValidator: Error: No API resource with that name found. aborting
Duende.IdentityServer.Endpoints.IntrospectionEndpoint: Error: API unauthorized to call introspection endpoint. aborting.
```

**Additional context**

Add any other context about the problem here.

Am i configuring this wrong? How do get my API Resource to be able to still introspect tokens while using a URL as the name?

It's almost like whatever it's using to find the apiname is clipping everything after the '://'  not sure if that's a postman problem or an IdServer parsing problem.

![image](https://user-images.githubusercontent.com/7902547/222935386-57d732a1-3e29-4496-8f59-c587e304608a.png)


You need to encode the client id and secret (aka username and password fields in postman) using form url encoding. This is mandated by the spec (see section 2.3.1 of RFC 6749).

Well that seems logical doesn’t it? Lol, I assumed postman was doing that. 

I’ll try that and get back to you. I assume if I was using the c# package for token management on a .net api project, it would handle that for me?

>  I assumed postman was doing that.

I guess postman isn't encoding the username and password, because this encoding is specific to OAuth. 

>  I assume if I was using the c# package for token management on a .net api project, it would handle that for me?

If they're following the spec, they should. I guess it would depend on which package you're talking about, but the ones [we work on](https://github.com/IdentityModel/IdentityModel.AspNetCore.OAuth2Introspection) do.